ion-row:first-child {
    background-color: var(--ion-color-primary);
    color: #fff;
}

ion-col {
    border-right: solid 1px var(--ion-color-light-shade);
    border-bottom: solid 1px var(--ion-color-light-shade);
}