<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Services</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" routerLink="add">
        <ion-icon name="add-outline"></ion-icon>
        Add Service
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-col>Service Name</ion-col>
      <ion-col size-xs="3" size-md="2">Amount</ion-col>
      <ion-col size-xs="3" size-md="2" class="actions-col">Actions</ion-col>
    </ion-row>
    @for (charityType of charityTypes; track $index) {
    <ion-row class="ion-justify-content-center ion-nowrap">
      <ion-col>{{charityType.name}}</ion-col>
      <ion-col size-xs="3" size-md="2">{{charityType.amount}}</ion-col>
      <ion-col size-xs="3" size-md="2" class="actions-col">
        <ion-buttons class="ion-justify-content-center ion-nowrap">
          <ion-button routerLink="{{'edit/' + charityType.id}}">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="presentDeleteCharityTypeAlert(charityType)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    } @empty {
    <ion-row class="no-entries-row">
      <ion-col size="12" class="ion-text-center">No entries to show.</ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>