<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (showVerificationLinkForm) {
  <form class="ion-padding" [formGroup]="resetPasswordForm" (ngSubmit)="sendResetPasswordLink()">
    <ion-input formControlName="email" label="Email *" labelPlacement="stacked" fill="solid" name="email" type="text"
      spellcheck="false" autocapitalize="off" errorText="Invalid Email" required maxlength="99"
      placeholder="example@domain.com" class="ion-margin-bottom">
    </ion-input>

    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-button type="submit" color="primary" expand="full">Send reset password link</ion-button>
      </ion-col>
    </ion-row>
  </form>
  } @else {
  <form class="ion-padding" [formGroup]="resetPasswordForm" (ngSubmit)="confirmResetPassword()">
    <ion-input formControlName="password" label="Password *" labelPlacement="stacked" fill="solid" name="password"
      type="password" errorText="Use 8 characters or more for your password" required maxlength="99" minlength="8"
      class="ion-margin-bottom">
    </ion-input>

    <ion-input formControlName="confirmPassword" label="Confirm password *" labelPlacement="stacked" fill="solid"
      name="confirmPassword" type="password" maxlength="99" required errorText="Confirm password is required"
      class="ion-margin-bottom">
    </ion-input>

    @if (resetPasswordForm.hasError('isPasswordMisMatch')) {
    <div class="ion-margin-bottom">
      <ion-note color="danger">Password and confirm password do not match</ion-note>
    </div>
    }

    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-button type="submit" color="primary" expand="full">Reset password</ion-button>
      </ion-col>
    </ion-row>
  </form>
  }
</ion-content>