<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">

      <ion-item lines="full">
        <ion-select formControlName="title" label="Title *" label-placement="floating" placeholder="Select title"
          required name="title">
          <ion-select-option value="Sri.">Sri. (Shriman)</ion-select-option>
          <ion-select-option value="Smt.">Smt. (Shrimati)</ion-select-option>
          <ion-select-option value="Kum.">Kum. (Kumar/Kumari)</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-input formControlName="name" label="Name *" label-placement="floating" placeholder="Enter name" type="text"
          name="name" required helperText="Only a-z, A-Z and 0-9 characters allowed"
          errorText="Only a-z, A-Z and 0-9 characters allowed"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-select formControlName="temple" label="Temple *" label-placement="floating" placeholder="Select temple"
          required name="temple" (selectionChange)="onTempleSelection($event)">
          @for (temple of temples; track temple.id) {
          <ion-select-option [value]="temple">{{temple.name}}</ion-select-option>
          }
        </ion-select>
      </ion-item>

      <ion-segment #ionSegment value="preset" (ionChange)="onSegmentChange($event.target.value)"
        class="ion-justify-content-start">
        <ion-segment-button value="preset">
          <ion-label>Preset services</ion-label>
        </ion-segment-button>
        <ion-segment-button value="custom">
          <ion-label>Custom service</ion-label>
        </ion-segment-button>
      </ion-segment>

      @if (ionSegment.value === "preset") {
      <ion-item lines="full">
        <ion-select formControlName="charityType" label="Service *" label-placement="floating"
          placeholder="Select service" required name="service" (selectionChange)="onCharityTypeSelection($event)">
          @for (charityType of charityTypes; track charityType.id) {
          <ion-select-option [value]="charityType">{{charityType.name}} - (Rs.
            {{charityType.amount}})</ion-select-option>
          }
        </ion-select>
      </ion-item>
      } @else {
      <ng-container>
        <ion-item lines="none">
          <ion-input formControlName="charityTypeName" label="Service Name *" label-placement="floating"
            placeholder="Enter service name" type="text" name="charityTypeName" required maxlength="50"
            helperText="Only a-z, A-Z and 0-9 characters allowed"
            errorText="Only a-z, A-Z and 0-9 characters allowed"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input formControlName="charityTypeAmount" label="Service Amount *" label-placement="floating"
            placeholder="1001" type="number" name="charityTypeAmount" equired min="1"></ion-input>
        </ion-item>
      </ng-container>
      }
      <ion-button expand="full" type="submit">Submit</ion-button>
    </form>
  </div>
</ion-content>