<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-padding" [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetPasswordLink()">
    <ion-input formControlName="email" label="Email *" labelPlacement="stacked" fill="solid" name="email" type="text"
      spellcheck="false" autocapitalize="off" errorText="Invalid Email" required maxlength="99"
      placeholder="example@domain.com" class="ion-margin-bottom">
    </ion-input>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="full">Send reset password link</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>