<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/temples"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="templeForm" (ngSubmit)="onSubmit()">

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Temple details:</ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-input formControlName="name" label="Temple Name *" label-placement="floating"
          placeholder="Enter temple name" type="text" name="templeName" required maxlength="100"
          helperText="Only a-z, A-Z and 0-9 characters allowed"
          errorText="Only a-z, A-Z and 0-9 characters allowed"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-textarea formControlName="address" label="Temple Address *" label-placement="floating"
          placeholder="Enter temple address" name="templeAddress" required [autoGrow]="true" maxlength="500"
          helperText="Only a-z, A-Z, 0-9, comma, ., -` and new line characters allowed"
          errorText="Only a-z, A-Z, 0-9, comma, ., - and new line characters allowed" rows="3"></ion-textarea>
      </ion-item>
    </ion-item-group>

    @if (canEdit) {
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-button expand="full" type="button" color="light" (click)="resetForm()">Reset</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" type="submit">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    }
  </form>
</ion-content>