<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/temples"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="templeForm" (ngSubmit)="onSubmit()">

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Temple details:</ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-input formControlName="name" label="Temple Name *" label-placement="floating"
          placeholder="Enter temple name" type="text" name="templeName" required maxlength="100"
          helperText="Only a-z, A-Z and 0-9 characters allowed"
          errorText="Only a-z, A-Z and 0-9 characters allowed"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-textarea formControlName="address" label="Temple Address *" label-placement="floating"
          placeholder="Enter temple address" name="templeAddress" required [autoGrow]="true" maxlength="500"
          helperText="Only a-z, A-Z, 0-9, comma, ., -` and new line characters allowed"
          errorText="Only a-z, A-Z, 0-9, comma, ., - and new line characters allowed" rows="3"></ion-textarea>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Share Temple with other users:</ion-label>
      </ion-item-divider>
      <ion-button type="button" color="primary" shape="round" (click)="addUser()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Add user
      </ion-button>
    
      <ng-container formArrayName="roles">
        @for (user of roles.controls; let i = $index; track i) {
        @if (i > 0) {
        <ion-item-divider></ion-item-divider>
        }
        <ion-item lines="none" [formGroup]="user">
          <ion-input formControlName="email" label="Email *" label-placement="floating" placeholder="example@domain.com"
            type="text" name="email" required maxlength="100" minlength="5" helperText="example@domain.com"
            errorText="Invalid Email" class="max-width-60"></ion-input>
          <ion-select formControlName="role" required class="ion-margin-start" label="Role *" label-placement="floating">
            <ion-select-option value="admin">Admin</ion-select-option>
            <ion-select-option value="member">Member</ion-select-option>
            <ion-select-option value="viewer">Viewer</ion-select-option>
          </ion-select>
          <ion-button (click)="deleteUser(i)" size="default">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
        }
      </ng-container>
    
    </ion-item-group>

    @if (canEdit) {
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-button expand="full" type="button" color="light" (click)="resetForm()">Reset</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" type="submit">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    }
  </form>
</ion-content>